/* Core CSS required for Ionic components to work properly */
@import "@ionic/react/css/core.css";

/* flaticon all package */
@import "@flaticon/flaticon-uicons/css/regular/rounded";
@import "@flaticon/flaticon-uicons/css/solid/rounded";

/* font families */
@import "@assets/styles/font-families.css";

/* tailwind css files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth bg-woodsmoke-950 font-montserrat;
  }

  ion-content::part(background),
  ion-list,
  ion-item::part(native) {
    @apply bg-woodsmoke-950 text-white-200;
  }

  i {
    @apply flex;
  }

  ion-item {
    &::part(month-year-button) {
      @apply text-white-200;
    }
  }

  input#progress[type="range"] {
    &::-webkit-slider-thumb {
      @apply h-3 w-1 appearance-none rounded-md bg-white-50 shadow-lg transition-all hover:bg-blue-500 sm:h-4 sm:w-1;
      -webkit-appearance: none;
    }
  }

  input#volume[type="range"] {
    &::-webkit-slider-thumb {
      @apply h-3.5 w-1 appearance-none rounded-md bg-white-50 shadow-lg transition-all hover:bg-blue-500;
      -webkit-appearance: none;
    }

    &.hidden-thumb::-webkit-slider-thumb {
      @apply opacity-0 transition-all;
    }
  }

  ion-range {
    --knob-size: 15px;

    &::part(bar) {
      @apply bg-woodsmoke-950/20;
    }

    &::part(bar-active) {
      @apply bg-science-blue-800;
    }

    &::part(knob) {
      @apply bg-white-50;
    }
  }
}

@layer components {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
